$app-font-color: #2c3e50;
$main-background: #eee8e8;
$main-blue: rgba(0, 100, 255, 0.6);
$link-color: white;
$item-bg-color: white;
$star-btn-bg-color: transparent;
$sidebar-bg-color: #eee;
$search-input-bg-color: white;
$search-icon-color: #ccc;
$checkbox-border-color: #adb5bd;
