$main-font-family: Avenir, Helvetica, Arial, sans-serif;
$header-font-size: 18px;
$header-font-weight: bold;
$item-font-size: 16px;
$item-font-weight: bold;
$search-input-font-size: 20px;
$title-font-size: 25px;
$title-font-weight: bold;
$checkbox-label-font-size: 22px;
